# Integrating Google Maps API Services for 'Places API' service on Merged Dataset

##  Importing important packages and libraries ##

In [1]:
pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\rahul\anaconda3\lib\site-packages (4.5.3)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\rahul\anaconda3\lib\site-packages (from googlemaps) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rahul\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rahul\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rahul\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rahul\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import os
import math
import time
from numpy import nan
from numpy import mean
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore')
import googlemaps
import requests
import json
#from GoogleMapsAPIKey import get_my_key

In [3]:
df = pd.read_csv("D:/Deakin University (Applied AI (Professional)/SIT764- Team Project (A)/Datasets & Notebooks/Updated Dataset/Merged_cleaned_wifi_data.csv")
df = df.drop('Unnamed: 0', axis=1)
df

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,location
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.000000,13.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.000000,23.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.14762,144.3622749"
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.000000,10.000000,3.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
...,...,...,...,...,...,...,...,...,...,...,...
1059214,014de9,"High Street , Belmont wifi/cctv cabinet",2021-12-07T11:30:00+05:30,202.000000,494.000000,13.872920,2021.0,Dec,Tuesday,7.0,"-38.1746141,144.3430678"
1059215,hawk-013a33,Ryrie/Moorabool Outside,2021-12-07T11:30:00+05:30,33.000000,45.000000,9.166667,2021.0,Dec,Tuesday,7.0,"-38.1489155,144.3584489"
1059216,meraki-e0-cb-bc-35-ae-29,Lt Malop West,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.147929,144.358854"
1059217,meraki-e0-cb-bc-35-bb-14,Waterfront - Pier,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.143364,144.361926"
1059218,meraki-e0-cb-bc-35-be-84,Lt Malop Central,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.148573,144.361279"

In [4]:
print("\nData size :",df.shape)
print("\nNumber of records :",len(df))
print("\nNumber of atrributes :",len(df.columns))
print("\nDataset Information :", df.info())
df.describe()

Data size : (1059219, 11)

Number of records : 1059219

Number of atrributes : 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059219 entries, 0 to 1059218
Data columns (total 11 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   dev_id     1059219 non-null  object
 1   name       1059219 non-null  object
 2   date       1059219 non-null  object
 3   total      1059219 non-null  float64
 4   left       1059219 non-null  float64
 5   left_avg   1059219 non-null  float64
 6   year       1059219 non-null  float64
 7   month      1059219 non-null  object
 8   dayofweek  1059219 non-null  object
 9   day        1059219 non-null  float64
 10  location   1059219 non-null  object
dtypes: float64(5), object(6)
memory usage: 88.9+ MB

Dataset Information : None

              total          left      left_avg          year           day
count  1.059219e+06  1.059219e+06  1.059219e+06  1.059219e+06  1.059219e+06
mean   2.640316e+01  2.581549e+01  1.500602e+00  2.019876e+03  1.593263e+01
std    4.771349e+01  6.942894e+01  4.326077e+00  6.464927e-01  8.820526e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  2.018000e+03  1.000000e+00
25%    1.000000e+00  0.000000e+00  0.000000e+00  2.019000e+03  8.000000e+00
50%    7.000000e+00  4.000000e+00  0.000000e+00  2.020000e+03  1.600000e+01
75%    3.119054e+01  2.200000e+01  1.000000e+00  2.020000e+03  2.400000e+01
max    5.000000e+02  1.448000e+03  6.233333e+02  2.021000e+03  3.100000e+01

## Extracting the unique locations from the dataframe and storing them in new dataframe

In [5]:
# Getting the unique locations from the loaded dataset and storing the values in a new dataframe
uniq_df = df['location'].unique()
uniq_coord_df = pd.DataFrame(uniq_df)
uniq_coord_df

                           0
0    -38.1474393,144.3576924
1      -38.14762,144.3622749
2    -38.1469395,144.3599357
3    -38.1489155,144.3584489
4    -38.1458692,144.3581138
5    -38.1691458,144.3511856
6    -38.1220226,144.3591414
7    -38.1496014,144.3608612
8    -38.1274401,144.3549584
9    -38.1687756,144.3512498
10   -38.1493122,144.3770579
11   -38.1479277,144.3588385
12   -38.1447631,144.3595969
13   -38.1746141,144.3430678
14   -38.1469338,144.3711246
15    -38.1430798,144.361831
16   -38.1467049,144.3683997
17   -38.1861465,144.3938752
18   -38.1468119,144.3588074
19     -38.147906,144.363372
20   -38.1470072,144.3565397
21   -38.1687411,144.3510241
22   -38.1494367,144.3774611
23      -38.14768,144.361951
24     -38.143364,144.361926
25     -38.147308,144.373781
26     -38.143849,144.362906
27     -38.147158,144.358161
28     -38.148573,144.361279
29     -38.147929,144.358854
30  -38.11494912,144.6725659

In [6]:
# Renaming the column
uniq_coord_df.rename(columns = {0: "coordinates"}, inplace=True)
uniq_coord_df

                 coordinates
0    -38.1474393,144.3576924
1      -38.14762,144.3622749
2    -38.1469395,144.3599357
3    -38.1489155,144.3584489
4    -38.1458692,144.3581138
5    -38.1691458,144.3511856
6    -38.1220226,144.3591414
7    -38.1496014,144.3608612
8    -38.1274401,144.3549584
9    -38.1687756,144.3512498
10   -38.1493122,144.3770579
11   -38.1479277,144.3588385
12   -38.1447631,144.3595969
13   -38.1746141,144.3430678
14   -38.1469338,144.3711246
15    -38.1430798,144.361831
16   -38.1467049,144.3683997
17   -38.1861465,144.3938752
18   -38.1468119,144.3588074
19     -38.147906,144.363372
20   -38.1470072,144.3565397
21   -38.1687411,144.3510241
22   -38.1494367,144.3774611
23      -38.14768,144.361951
24     -38.143364,144.361926
25     -38.147308,144.373781
26     -38.143849,144.362906
27     -38.147158,144.358161
28     -38.148573,144.361279
29     -38.147929,144.358854
30  -38.11494912,144.6725659

In [7]:
# Separating Latitude and Longitude and storing them in separate columns
lat = []
lon = []

# For each row in a varible,
for row in uniq_coord_df['coordinates']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
uniq_coord_df['latitude'] = lat
uniq_coord_df['longitude'] = lon

In [8]:
uniq_coord_df

                 coordinates      latitude    longitude
0    -38.1474393,144.3576924   -38.1474393  144.3576924
1      -38.14762,144.3622749     -38.14762  144.3622749
2    -38.1469395,144.3599357   -38.1469395  144.3599357
3    -38.1489155,144.3584489   -38.1489155  144.3584489
4    -38.1458692,144.3581138   -38.1458692  144.3581138
5    -38.1691458,144.3511856   -38.1691458  144.3511856
6    -38.1220226,144.3591414   -38.1220226  144.3591414
7    -38.1496014,144.3608612   -38.1496014  144.3608612
8    -38.1274401,144.3549584   -38.1274401  144.3549584
9    -38.1687756,144.3512498   -38.1687756  144.3512498
10   -38.1493122,144.3770579   -38.1493122  144.3770579
11   -38.1479277,144.3588385   -38.1479277  144.3588385
12   -38.1447631,144.3595969   -38.1447631  144.3595969
13   -38.1746141,144.3430678   -38.1746141  144.3430678
14   -38.1469338,144.3711246   -38.1469338  144.3711246
15    -38.1430798,144.361831   -38.1430798   144.361831
16   -38.1467049,144.3683997   -38.1467049  144.3683997
17   -38.1861465,144.3938752   -38.1861465  144.3938752
18   -38.1468119,144.3588074   -38.1468119  144.3588074
19     -38.147906,144.363372    -38.147906   144.363372
20   -38.1470072,144.3565397   -38.1470072  144.3565397
21   -38.1687411,144.3510241   -38.1687411  144.3510241
22   -38.1494367,144.3774611   -38.1494367  144.3774611
23      -38.14768,144.361951     -38.14768   144.361951
24     -38.143364,144.361926    -38.143364   144.361926
25     -38.147308,144.373781    -38.147308   144.373781
26     -38.143849,144.362906    -38.143849   144.362906
27     -38.147158,144.358161    -38.147158   144.358161
28     -38.148573,144.361279    -38.148573   144.361279
29     -38.147929,144.358854    -38.147929   144.358854
30  -38.11494912,144.6725659  -38.11494912  144.6725659

## Using Google API Service to Search for nearby Hospitals, Libraries, Gyms, Restaurants & Malls for the given coordinates

In [9]:
uniq_coord_df =uniq_coord_df.reset_index(inplace=False)

In [10]:
# Use your google maps cloud services API KEY
API_key = 'AIzaSyDevaMTYQXOPbn2s8C_gD9mC64rvy_j2tk'

In [11]:
map_client = googlemaps.Client(key=API_key)

In [12]:
def find_number_obj(latitude, longitude, keyword, distance):
  
  #Find number of obj around the specific address
  url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latitude}, {longitude}&radius={distance}&keyword={keyword}&key={API_key}"
  respon = requests.get(url)
  jj = json.loads(respon.text)
  results = jj['results']
  output = len(results)
  return output

In [14]:
hospitals = []
keyword = "hospital"
distance = 1000
for i in range(uniq_coord_df.shape[0]):
  latitude = uniq_coord_df["latitude"].iloc[i]
  longitude = uniq_coord_df["longitude"].iloc[i]
  no_hospital = find_number_obj(latitude, longitude, keyword, distance)
  hospitals.append(no_hospital)

In [15]:
libraries = []
keyword = "library"
distance = 1000
for i in range(uniq_coord_df.shape[0]):
  latitude = uniq_coord_df["latitude"].iloc[i]
  longitude = uniq_coord_df["longitude"].iloc[i]
  no_library = find_number_obj(latitude, longitude, keyword, distance)
  libraries.append(no_library)

In [16]:
gyms = []
keyword = "gym"
distance = 1000
for i in range(uniq_coord_df.shape[0]):
  latitude = uniq_coord_df["latitude"].iloc[i]
  longitude = uniq_coord_df["longitude"].iloc[i]
  no_gym = find_number_obj(latitude, longitude, keyword, distance)
  gyms.append(no_gym)

In [17]:
restaurants = []
keyword = "restaurant"
distance = 1000
for i in range(uniq_coord_df.shape[0]):
  latitude = uniq_coord_df["latitude"].iloc[i]
  longitude = uniq_coord_df["longitude"].iloc[i]
  no_restaurant = find_number_obj(latitude, longitude, keyword, distance)
  restaurants.append(no_restaurant)

In [18]:
malls = []
keyword = "mall"
distance = 1000
for i in range(uniq_coord_df.shape[0]):
  latitude = uniq_coord_df["latitude"].iloc[i]
  longitude = uniq_coord_df["longitude"].iloc[i]
  no_mall = find_number_obj(latitude, longitude, keyword, distance)
  malls.append(no_mall)

In [19]:
uniq_coord_df["Hospital"] = hospitals
uniq_coord_df["Library"] = libraries
uniq_coord_df["Gym"] = gyms
uniq_coord_df["Restaurant"] = restaurants
uniq_coord_df["Mall"] = malls

In [20]:
uniq_coord_df

,index,coordinates,latitude,longitude,Hospital,Library,Gym,Restaurant,Mall
0,0,"-38.1474393,144.3576924",-38.1474393,144.3576924,20,9,14,20,20
1,1,"-38.14762,144.3622749",-38.14762,144.3622749,19,7,12,20,20
2,2,"-38.1469395,144.3599357",-38.1469395,144.3599357,19,10,15,20,20
3,3,"-38.1489155,144.3584489",-38.1489155,144.3584489,19,10,19,20,20
4,4,"-38.1458692,144.3581138",-38.1458692,144.3581138,19,8,16,20,20
5,5,"-38.1691458,144.3511856",-38.1691458,144.3511856,0,3,20,20,2
6,6,"-38.1220226,144.3591414",-38.1220226,144.3591414,0,0,6,12,0
7,7,"-38.1496014,144.3608612",-38.1496014,144.3608612,20,10,16,20,20
8,8,"-38.1274401,144.3549584",-38.1274401,144.3549584,0,0,8,16,3
9,9,"-38.1687756,144.3512498",-38.1687756,144.3512498,1,3,20,20,2
10,10,"-38.1493122,144.3770579",-38.1493122,144.3770579,13,0,3,20,6
11,11,"-38.1479277,144.3588385",-38.1479277,144.3588385,20,10,14,20,20
12,12,"-38.1447631,144.3595969",-38.1447631,144.3595969,20,9,17,20,20
13,13,"-38.1746141,144.3430678",-38.1746141,144.3430678,0,3,8,20,2
14,14,"-38.1469338,144.3711246",-38.1469338,144.3711246,17,4,6,20,16
15,15,"-38.1430798,144.361831",-38.1430798,144.361831,20,8,13,20,20
16,16,"-38.1467049,144.3683997",-38.1467049,144.3683997,18,5,10,20,18
17,17,"-38.1861465,144.3938752",-38.1861465,144.3938752,2,0,1,1,0
18,18,"-38.1468119,144.3588074",-38.1468119,144.3588074,20,9,17,20,20
19,19,"-38.147906,144.363372",-38.147906,144.363372,19,7,13,20,20
20,20,"-38.1470072,144.3565397",-38.1470072,144.3565397,19,9,17,20,20
21,21,"-38.1687411,144.3510241",-38.1687411,144.3510241,0,3,20,20,4
22,22,"-38.1494367,144.3774611",-38.1494367,144.3774611,16,0,2,20,3
23,23,"-38.14768,144.361951",-38.14768,144.361951,20,8,12,20,20
24,24,"-38.143364,144.361926",-38.143364,144.361926,20,8,13,20,20
25,25,"-38.147308,144.373781",-38.147308,144.373781,13,2,6,20,16
26,26,"-38.143849,144.362906",-38.143849,144.362906,19,7,17,20,19
27,27,"-38.147158,144.358161",-38.147158,144.358161,20,9,14,20,20
28,28,"-38.148573,144.361279",-38.148573,144.361279,19,9,14,20,20
29,29,"-38.147929,144.358854",-38.147929,144.358854,19,10,14,20,20
30,30,"-38.11494912,144.6725659",-38.11494912,144.6725659,0,0,0,1,0

In [21]:
new_df = df.head(500)

In [22]:
new_df

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,location
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.0,14.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.0,13.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.0,23.0,1.0,2019.0,Jan,Thursday,3.0,"-38.14762,144.3622749"
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.0,14.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.0,10.0,3.0,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
...,...,...,...,...,...,...,...,...,...,...,...
495,hawk-013a4f,City Hall,2019-01-06T21:23:20+05:30,3.0,3.0,1.0,2019.0,Jan,Sunday,6.0,"-38.1474393,144.3576924"
496,hawk-013a51,Myer South side,2019-01-06T21:23:20+05:30,1.0,0.0,0.0,2019.0,Jan,Sunday,6.0,"-38.14762,144.3622749"
497,hawk-013a4f,City Hall,2019-01-06T21:23:20+05:30,3.0,0.0,0.0,2019.0,Jan,Sunday,6.0,"-38.1474393,144.3576924"
498,hawk-013a4f,City Hall,2019-01-06T21:23:20+05:30,5.0,2.0,1.0,2019.0,Jan,Sunday,6.0,"-38.1474393,144.3576924"
499,hawk-013a23,LaPorcheta,2019-01-06T21:23:20+05:30,0.0,2.0,1.0,2019.0,Jan,Sunday,6.0,"-38.1469395,144.3599357"

## Creating dictionaries to map the counts back to dataset

In [23]:
# selecting the columns required for creating dictionaries

col_hosp = uniq_coord_df[["coordinates","Hospital"]]
col_lib = uniq_coord_df[["coordinates","Library"]]
col_gym = uniq_coord_df[["coordinates","Gym"]]
col_rest = uniq_coord_df[["coordinates","Restaurant"]]
col_mall = uniq_coord_df[["coordinates","Mall"]]

dict_object1=col_hosp.to_dict('records')
dict_object2= col_lib.to_dict('records')
dict_object3= col_gym.to_dict('records')
dict_object4= col_rest.to_dict('records')
dict_object5= col_mall.to_dict('records')

In [24]:
# printing dictionary object
for x in dict_object1:
    co = x["coordinates"]
    sh = str(x['Hospital'])
    print(f'"{co}"' +":"+ f'"{sh}"'+",")

"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"19",
"-38.1469395,144.3599357":"19",
"-38.1489155,144.3584489":"19",
"-38.1458692,144.3581138":"19",
"-38.1691458,144.3511856":"0",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"0",
"-38.1687756,144.3512498":"1",
"-38.1493122,144.3770579":"13",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"0",
"-38.1469338,144.3711246":"17",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"18",
"-38.1861465,144.3938752":"2",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"19",
"-38.1470072,144.3565397":"19",
"-38.1687411,144.3510241":"0",
"-38.1494367,144.3774611":"16",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"13",
"-38.143849,144.362906":"19",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"19",
"-38.147929,144.358854":"19",
"-38.11494912,144.6725659":"0",

In [25]:
# printing dictionary object
for x in dict_object2:
    co = x["coordinates"]
    sh = str(x['Library'])
    print(f'"{co}"' +":"+ f'"{sh}"'+",")

"-38.1474393,144.3576924":"9",
"-38.14762,144.3622749":"7",
"-38.1469395,144.3599357":"10",
"-38.1489155,144.3584489":"10",
"-38.1458692,144.3581138":"8",
"-38.1691458,144.3511856":"3",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"10",
"-38.1274401,144.3549584":"0",
"-38.1687756,144.3512498":"3",
"-38.1493122,144.3770579":"0",
"-38.1479277,144.3588385":"10",
"-38.1447631,144.3595969":"9",
"-38.1746141,144.3430678":"3",
"-38.1469338,144.3711246":"4",
"-38.1430798,144.361831":"8",
"-38.1467049,144.3683997":"5",
"-38.1861465,144.3938752":"0",
"-38.1468119,144.3588074":"9",
"-38.147906,144.363372":"7",
"-38.1470072,144.3565397":"9",
"-38.1687411,144.3510241":"3",
"-38.1494367,144.3774611":"0",
"-38.14768,144.361951":"8",
"-38.143364,144.361926":"8",
"-38.147308,144.373781":"2",
"-38.143849,144.362906":"7",
"-38.147158,144.358161":"9",
"-38.148573,144.361279":"9",
"-38.147929,144.358854":"10",
"-38.11494912,144.6725659":"0",

In [26]:
# printing dictionary object
for x in dict_object3:
    co = x["coordinates"]
    sh = str(x['Gym'])
    print(f'"{co}"' +":"+ f'"{sh}"'+",")

"-38.1474393,144.3576924":"14",
"-38.14762,144.3622749":"12",
"-38.1469395,144.3599357":"15",
"-38.1489155,144.3584489":"19",
"-38.1458692,144.3581138":"16",
"-38.1691458,144.3511856":"20",
"-38.1220226,144.3591414":"6",
"-38.1496014,144.3608612":"16",
"-38.1274401,144.3549584":"8",
"-38.1687756,144.3512498":"20",
"-38.1493122,144.3770579":"3",
"-38.1479277,144.3588385":"14",
"-38.1447631,144.3595969":"17",
"-38.1746141,144.3430678":"8",
"-38.1469338,144.3711246":"6",
"-38.1430798,144.361831":"13",
"-38.1467049,144.3683997":"10",
"-38.1861465,144.3938752":"1",
"-38.1468119,144.3588074":"17",
"-38.147906,144.363372":"13",
"-38.1470072,144.3565397":"17",
"-38.1687411,144.3510241":"20",
"-38.1494367,144.3774611":"2",
"-38.14768,144.361951":"12",
"-38.143364,144.361926":"13",
"-38.147308,144.373781":"6",
"-38.143849,144.362906":"17",
"-38.147158,144.358161":"14",
"-38.148573,144.361279":"14",
"-38.147929,144.358854":"14",
"-38.11494912,144.6725659":"0",

In [27]:
# printing dictionary object
for x in dict_object4:
    co = x["coordinates"]
    sh = str(x['Restaurant'])
    print(f'"{co}"' +":"+ f'"{sh}"'+",")

"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"20",
"-38.1469395,144.3599357":"20",
"-38.1489155,144.3584489":"20",
"-38.1458692,144.3581138":"20",
"-38.1691458,144.3511856":"20",
"-38.1220226,144.3591414":"12",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"16",
"-38.1687756,144.3512498":"20",
"-38.1493122,144.3770579":"20",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"20",
"-38.1469338,144.3711246":"20",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"20",
"-38.1861465,144.3938752":"1",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"20",
"-38.1470072,144.3565397":"20",
"-38.1687411,144.3510241":"20",
"-38.1494367,144.3774611":"20",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"20",
"-38.143849,144.362906":"20",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"20",
"-38.147929,144.358854":"20",
"-38.11494912,144.6725659":"1",

In [28]:
# printing dictionary object
for x in dict_object5:
    co = x["coordinates"]
    sh = str(x['Mall'])
    print(f'"{co}"' +":"+ f'"{sh}"'+",")

"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"20",
"-38.1469395,144.3599357":"20",
"-38.1489155,144.3584489":"20",
"-38.1458692,144.3581138":"20",
"-38.1691458,144.3511856":"2",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"3",
"-38.1687756,144.3512498":"2",
"-38.1493122,144.3770579":"6",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"2",
"-38.1469338,144.3711246":"16",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"18",
"-38.1861465,144.3938752":"0",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"20",
"-38.1470072,144.3565397":"20",
"-38.1687411,144.3510241":"4",
"-38.1494367,144.3774611":"3",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"16",
"-38.143849,144.362906":"19",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"20",
"-38.147929,144.358854":"20",
"-38.11494912,144.6725659":"0",

In [29]:
# creating hospitals dictionary
hospital_count = {
"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"19",
"-38.1469395,144.3599357":"19",
"-38.1489155,144.3584489":"19",
"-38.1458692,144.3581138":"19",
"-38.1691458,144.3511856":"0",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"0",
"-38.1687756,144.3512498":"1",
"-38.1493122,144.3770579":"13",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"0",
"-38.1469338,144.3711246":"17",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"18",
"-38.1861465,144.3938752":"2",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"19",
"-38.1470072,144.3565397":"19",
"-38.1687411,144.3510241":"0",
"-38.1494367,144.3774611":"16",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"13",
"-38.143849,144.362906":"19",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"19",
"-38.147929,144.358854":"19",
"-38.11494912,144.6725659":"0"
}

# creating libraries dictionary
lib_count = {
"-38.1474393,144.3576924":"9",
"-38.14762,144.3622749":"7",
"-38.1469395,144.3599357":"10",
"-38.1489155,144.3584489":"10",
"-38.1458692,144.3581138":"8",
"-38.1691458,144.3511856":"3",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"10",
"-38.1274401,144.3549584":"0",
"-38.1687756,144.3512498":"3",
"-38.1493122,144.3770579":"0",
"-38.1479277,144.3588385":"10",
"-38.1447631,144.3595969":"9",
"-38.1746141,144.3430678":"3",
"-38.1469338,144.3711246":"4",
"-38.1430798,144.361831":"8",
"-38.1467049,144.3683997":"5",
"-38.1861465,144.3938752":"0",
"-38.1468119,144.3588074":"9",
"-38.147906,144.363372":"7",
"-38.1470072,144.3565397":"9",
"-38.1687411,144.3510241":"3",
"-38.1494367,144.3774611":"0",
"-38.14768,144.361951":"8",
"-38.143364,144.361926":"8",
"-38.147308,144.373781":"2",
"-38.143849,144.362906":"7",
"-38.147158,144.358161":"9",
"-38.148573,144.361279":"9",
"-38.147929,144.358854":"10",
"-38.11494912,144.6725659":"0"
}

# creating gyms dictionary
gym_count = {
"-38.1474393,144.3576924":"14",
"-38.14762,144.3622749":"12",
"-38.1469395,144.3599357":"15",
"-38.1489155,144.3584489":"19",
"-38.1458692,144.3581138":"16",
"-38.1691458,144.3511856":"20",
"-38.1220226,144.3591414":"6",
"-38.1496014,144.3608612":"16",
"-38.1274401,144.3549584":"8",
"-38.1687756,144.3512498":"20",
"-38.1493122,144.3770579":"3",
"-38.1479277,144.3588385":"14",
"-38.1447631,144.3595969":"17",
"-38.1746141,144.3430678":"8",
"-38.1469338,144.3711246":"6",
"-38.1430798,144.361831":"13",
"-38.1467049,144.3683997":"10",
"-38.1861465,144.3938752":"1",
"-38.1468119,144.3588074":"17",
"-38.147906,144.363372":"13",
"-38.1470072,144.3565397":"17",
"-38.1687411,144.3510241":"20",
"-38.1494367,144.3774611":"2",
"-38.14768,144.361951":"12",
"-38.143364,144.361926":"13",
"-38.147308,144.373781":"6",
"-38.143849,144.362906":"17",
"-38.147158,144.358161":"14",
"-38.148573,144.361279":"14",
"-38.147929,144.358854":"14",
"-38.11494912,144.6725659":"0"
}

# creating gyms dictionary
restaurant_count = {
"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"20",
"-38.1469395,144.3599357":"20",
"-38.1489155,144.3584489":"20",
"-38.1458692,144.3581138":"20",
"-38.1691458,144.3511856":"20",
"-38.1220226,144.3591414":"12",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"16",
"-38.1687756,144.3512498":"20",
"-38.1493122,144.3770579":"20",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"20",
"-38.1469338,144.3711246":"20",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"20",
"-38.1861465,144.3938752":"1",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"20",
"-38.1470072,144.3565397":"20",
"-38.1687411,144.3510241":"20",
"-38.1494367,144.3774611":"20",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"20",
"-38.143849,144.362906":"20",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"20",
"-38.147929,144.358854":"20",
"-38.11494912,144.6725659":"1"
}

# creating gyms dictionary
mall_count = {
"-38.1474393,144.3576924":"20",
"-38.14762,144.3622749":"20",
"-38.1469395,144.3599357":"20",
"-38.1489155,144.3584489":"20",
"-38.1458692,144.3581138":"20",
"-38.1691458,144.3511856":"2",
"-38.1220226,144.3591414":"0",
"-38.1496014,144.3608612":"20",
"-38.1274401,144.3549584":"3",
"-38.1687756,144.3512498":"2",
"-38.1493122,144.3770579":"6",
"-38.1479277,144.3588385":"20",
"-38.1447631,144.3595969":"20",
"-38.1746141,144.3430678":"2",
"-38.1469338,144.3711246":"16",
"-38.1430798,144.361831":"20",
"-38.1467049,144.3683997":"18",
"-38.1861465,144.3938752":"0",
"-38.1468119,144.3588074":"20",
"-38.147906,144.363372":"20",
"-38.1470072,144.3565397":"20",
"-38.1687411,144.3510241":"4",
"-38.1494367,144.3774611":"3",
"-38.14768,144.361951":"20",
"-38.143364,144.361926":"20",
"-38.147308,144.373781":"16",
"-38.143849,144.362906":"19",
"-38.147158,144.358161":"20",
"-38.148573,144.361279":"20",
"-38.147929,144.358854":"20",
"-38.11494912,144.6725659":"0"
}

In [30]:
# Separating Latitude and Longitude and storing them in separate columns
lat = []
lon = []

# For each row in a varible,
for row in df['location']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon

In [31]:
# mapping the counts back to the data set using dictionaries

df['hospitals_count'] = df['location'].map(hospital_count)
df['libraries_count'] = df['location'].map(lib_count)
df['gyms_count'] = df['location'].map(gym_count)
df['restaurants_count'] = df['location'].map(restaurant_count)
df['malls_count'] = df['location'].map(mall_count)
df['url'] = 'https://www.google.com/maps/place/' + df['location']

In [32]:
df

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,location,latitude,longitude,hospitals_count,libraries_count,gyms_count,restaurants_count,malls_count,url
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924",-38.1474393,144.3576924,20,9,14,20,20,"https://www.google.com/maps/place/-38.1474393,..."
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.000000,13.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924",-38.1474393,144.3576924,20,9,14,20,20,"https://www.google.com/maps/place/-38.1474393,..."
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.000000,23.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.14762,144.3622749",-38.14762,144.3622749,19,7,12,20,20,"https://www.google.com/maps/place/-38.14762,14..."
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357",-38.1469395,144.3599357,19,10,15,20,20,"https://www.google.com/maps/place/-38.1469395,..."
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.000000,10.000000,3.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357",-38.1469395,144.3599357,19,10,15,20,20,"https://www.google.com/maps/place/-38.1469395,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059214,014de9,"High Street , Belmont wifi/cctv cabinet",2021-12-07T11:30:00+05:30,202.000000,494.000000,13.872920,2021.0,Dec,Tuesday,7.0,"-38.1746141,144.3430678",-38.1746141,144.3430678,0,3,8,20,2,"https://www.google.com/maps/place/-38.1746141,..."
1059215,hawk-013a33,Ryrie/Moorabool Outside,2021-12-07T11:30:00+05:30,33.000000,45.000000,9.166667,2021.0,Dec,Tuesday,7.0,"-38.1489155,144.3584489",-38.1489155,144.3584489,19,10,19,20,20,"https://www.google.com/maps/place/-38.1489155,..."
1059216,meraki-e0-cb-bc-35-ae-29,Lt Malop West,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.147929,144.358854",-38.147929,144.358854,19,10,14,20,20,"https://www.google.com/maps/place/-38.147929,1..."
1059217,meraki-e0-cb-bc-35-bb-14,Waterfront - Pier,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.143364,144.361926",-38.143364,144.361926,20,8,13,20,20,"https://www.google.com/maps/place/-38.143364,1..."
1059218,meraki-e0-cb-bc-35-be-84,Lt Malop Central,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.148573,144.361279",-38.148573,144.361279,19,9,14,20,20,"https://www.google.com/maps/place/-38.148573,1..."

## Saving the Google Maps API integrated dataset to a CSV file

In [33]:
#Saving the Cleaned wifi_data to a CSV file
df.to_csv('D:/Deakin University (Applied AI (Professional)/SIT764- Team Project (A)/Datasets & Notebooks/Updated Dataset/updated_geoapicleaned_merged_dataset.csv')
print('CSV has been saved sccessfully')

CSV has been saved sccessfully